body {
  padding-top: 50px;
  color: black;
  text-size: 18px;
  font-family: 'Quattrocento', serif;
}

.logoCol img {
  width: 100px;
}

.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:280px;
    width:100%;
    padding: 0 15px;
    margin-bottom: 70px;
}

selected {
  margin-top: 5px;
  margin-bottom: 120px;
  padding-bottom: 30px;
}

.DocumentItem
{
    /*border:1px solid black;*/
    padding:20px;
    height:300px;
    padding: 20px;
    margin-bottom: 70px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background: white;
  /*background: #1abc9c;*/
}

::-webkit-scrollbar-thumb {
  background: #0066CC;
  border-radius: 7.5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0066CC;
}
::-webkit-scrollbar-thumb:active {
  background: #0066CC;
}

::-webkit-scrollbar-corner {
  background: #0066CC;
}

::-webkit-resizer {
  background: #0066CC;
}


.list-inline {
  white-space:nowrap;
}


.spin {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.spin:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


.profile-header {
  padding: 40px 15px;
  text-align: center;
}

header {
  height: 455px;
  background-color: #0066CC;
  padding-bottom: 40px;
  color: white;
}

header img {
  border-radius: 125px;
  width: 180px;
}

.about, .contact{
  padding: 40px 15px;
}

.portfolio, .contact {
  text-align: center;
  font-size: 1.2em;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: white;
    background-color: #428BCA;
  }

.contact {
  border-top: 1px solid #eee;
}

footer {
    height: 70px;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: white;
}

h1,h2 {
  font-family: 'Oswald', sans-serif;
  text-align:center;
}
.about p {
    font: 400 16px/30px 'Quattrocento', sans-serif;
    margin: 0 auto;
    padding:10px 0;
}


.about-text-border {
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
  padding: 10px 0;
  margin: 30px auto;
  width: 50%;
}

@media (max-width: 767px) {
  .about-text-border {
    width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    .about-text-border {
    width: 65%;
  }

}


.portfolio-row1 {
  margin-top: 20px;
}

