
<h1>FEED</h1>
<main ng-controller="AppCtrl as ctrl">


<div class="input-group">
    <textarea class="form-control" id="input-status" ng-model="statusupdate" rows="3"></textarea>
    <button type="button" class="btn btn-primary btn-lg" ng-click="postStatus()">Post</button>
</div>

<p></p>
<p></p>

<!-- http://blog.timsommer.be/using-ngsanitize-to-render-html-strings-in-angular/ -->
<ul ng-repeat="item in feed">
  <li ng-hide="item.status.loadFailed"><h3>{{ item.status.title }}</h3></br><small>{{ item.status.description
 }}</small></br><img ng-hide="item.status.embed" ng-src="{{item.status.images[0]}}" width="200px" alt="Description"/><button type="button" ng-click="deleteStatus(item._id)" class="btn btn-danger">Delete Post</button>
 <p ng-bind-html="embedCode(item.status.embed)"></p><em>Source:  <a href="{{item.status.url}}">{{item.status.url}}</a></em></li>

</ul>


</main>