<div class="col-md-2"></div>
<container class="col-md-8" ng-controller="UsersController as user">


  <h3>Login</h3>
  <form ng-submit="user.login()"  class="form-group" novalidate>
    <label for="email">Email</label>
    <input type="text" name="email"  class="form-control" placeholder="Email" ng-model="user.currentUser.email">

    <label for="password">Password</label>
    <input type="password" name="password"  class="form-control" placeholder="Password" ng-model="user.currentUser.password">

    <input type="submit"  class="btn btn-primary" value="Login">
  </form>
</section>

<section id="register">
  <h3>Register</h3>
  <form ng-submit="user.register()"  class="form-group" novalidate>
    <label for="username">Username</label>
    <input type="text" name="username"   class="form-control" placeholder="Username" ng-model="user.currentUser.username">

    <label for="email">Email</label>
    <input type="email" name="email"  class="form-control" placeholder="Email" ng-model="user.currentUser.email">

    <label for="password">Password</label>
    <input type="password" name="password"  class="form-control" placeholder="Password" ng-model="user.agent.password">

    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation"  class="form-control" placeholder="Retype password" ng-model="user.agent.passwordConfirmation">

    <input type="submit" class="btn btn-primary" value="Register">
  </form>


  </container>
  <div class="col-md-2"></div>